/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
} */

header {
    background-color: #002147;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 50px;
}

header h1 {
    font-size: 22px;
    margin: 0;
}
/* header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
} */

/* .login-container, .upload-container {
    max-width: 50px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
} */
 .register {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub {
    text-align: right;
    justify-content:center;
}

form input, form select, form button {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    position: relative;
    text-align: center;
    display: inline-block;
}

form button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #4cae4c;
}